body {
  font-family: Roboto;
  font-weight: 500;
  background-color: rgba(81, 134, 225, 0.845);
  margin: 0;
}
a {
  text-decoration: none;
  color: rgb(158, 152, 152);
}

sup {
  font-size: 25px;
}
.size {
  font-weight: 500;
  font-size: 40px;
  font-style: normal;
}
.page-main {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;
  height: 1000px;
}
.box {
  display: flex;
  align-items: center;
  background-color: rgb(240, 248, 255);
  padding: 20px;
  border-radius: 10px;
  height: 450px;
}
.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 450px;
  height: 350px;
  padding: 20px;
  align-items: center;
  padding-top: 40px;
}

.card:hover {
  background: #efefef;
}
.image {
  width: 200px;
  height: 100px;
}
.description {
  margin-top: 0px;
  padding-left: 100px;
  padding-right: 106px;
  text-align: center;
  height: 70px;
}
.title {
  margin-top: 30px;
  margin-bottom: 25px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  color: rgb(93, 48, 208);
}

.price {
  font-weight: bold;
  color: rgb(93, 48, 208);
  margin-top: 40px;
  text-align: center;
}
