* {
  box-sizing: border-box;
}
.payment__background {
  background-image: url(img/background.jpg);
}

.payment__decoration {
  text-decoration: none;
}

.payment {
  display: grid;
  justify-content: center;
  font-family: Roboto;

  text-transform: uppercase;
}

.payment__body {
  background-color: #ffffff;

  border-radius: 6px;
  margin-top: 120px;
  width: 350px;
}

.payment__header {
  display: flex;
  justify-content: center;

  font-weight: 500;
  letter-spacing: 1px;
  font-size: 18px;
  height: 100px;
}

.payment__title {
  display: flex;
  align-self: center;

  margin-top: 30px;
}

.payment__cardlist {
  display: flex;

  border-top: solid 1px #dedede;
  height: 54px;
}

.payment__cardlist:hover {
  background: #efefef;
}

.payment__cardtitle {
  display: flex;
  align-self: center;

  color: #9ea09f;
  margin-left: 18px;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.8px;
}

.cardtitle__choice {
  font-weight: bold;
  color: #000000;
}

.payment__image {
  margin-top: 4px;
  margin-left: 20px;
  width: 40px;
  height: 40px;
}

.payment__step {
  display: flex;
  justify-content: center;

  background-color: #598bdd;
  color: #ffffff;

  font-size: 11px;
  letter-spacing: 1px;
  height: 50px;
  border-radius: 0px 0px 5px 5px;
}

.payment__step:active {
  transform: scaleY(0.97);
  transform-origin: bottom;
  width: 350.5px;
}

.payment__step:hover {
  background: #5080df;
}

.payment__button {
  display: flex;
  align-self: center;
}

.payment__arrow {
  position: relative;

  top: 19px;
  margin-left: 4px;
  width: 11px;
  height: 11px;
}

.title__circle {
  display: block;
  background-color: #dedede;

  margin: 4px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.payment__circle {
  position: absolute;

  display: flex;
  top: 150px;
}

.circle__first {
  background-color: #aaaaaa;
}

.check__absolute {
  position: relative;

  top: 18px;
  left: 145px;
  height: 18px;
  width: 17px;
}
